body{
    background-color:#cccccc;
}
.jumbotron{
  background-color:#efffff;
  color:black;
  border:2px rgb(165, 165, 165) solid;
font: 2em Arial,sans-serif;
}
.ride{
  font-size:40px;
  color:blue;
}

.panel-body{
  border:2px rgb(165, 165, 165) solid;
}
.current ,.add{
  color:rgb(220, 220, 220);
  font-size:20px;
}
#trainTable{
  background-color:#efffff;
  color:black;
  font-size:20px;
  font: bold;
}
#trainNameInput,#destinationInput,#timeInput,#frequencyInput{
  color:black;
  font-size:18px;
  background-color:#efefef;
}
.form-group{
  color: black;
  font-size:20px;
}
.btn{
  background-color:rgb(54, 161, 254);
  font-size:15x;
}










